@media (min-width: 350px) and (max-width: 576px){

    .headerProduct {
        background-color: transparent;
    }
    
    .headerProduct .list {
        display: flex;
        margin-top: -8px;
        padding-bottom: 8px;
      }
    
    .headerProduct .list img {
        display: flex;
        width: 48px;
        margin-left: -32px;
    }
    
    .headerProduct .topLogo {
        display: none;
    }
    
    .headerProduct nav {
        display: none;
    }

    .mainProduct img {
        display: none;
    }
    
    .mainProduct {
        display: flex;
        width: 100%; 
        height: 375px;
        background-image: url('../assets/images/background_panel.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mainProductMedia img {
        display: none;
    }
    
    .mainProductMedia {
        display: flex;
        width: 100%; 
        height: 375px;
        background-image: url('../assets/images/background_multimedia.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .titleContentProduct {
        position: absolute;
        top: 5.2%;
        left: 5%;
        font-size: 22px;
    }
    
    .titleContentProduct h1 {
        width: 100%;
        font-weight: 100;
        margin-bottom: 32px;
    }
    
    .titleContentProduct b {
        font-weight: 400;
    }
    
    .firstSectionProduct {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textImageProduct {
        text-align: start;
        margin-left: 0px;
        padding-left: 16px;
      }
    
    .secondTextImageProduct {
        text-align: end;
        margin-top: -48px;
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
    }
    
    .textImageProduct {
        margin-top: -48px;
        width: 100%;
    }

    .textImageProduct h2 {
        font-size: 48px;
        font-family: 'Roboto', sans-serif;
        padding-right: 0px;
    }

    .secondTextImageProduct h2 {
        font-size: 36px;
        font-family: 'Roboto', sans-serif;
        padding-left: 32px;
        padding-right: 0px;
    }
    
    .textImageProduct i, .secondTextImageProduct i {
        font-weight: 200;
      }
    
    .textImageProduct b, .secondTextImageProduct b {
        font-weight: 500;
      }
      
    .textImageProduct p {
        margin-top: 12px;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        padding-right: 0px;
      }
    
    .secondTextImageProduct p {
        margin-top: 12px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        padding-right: 0px;
        padding-left: 64px;
    }

    .firstSectionProduct .image {
        margin-top: 16px;
    }

    .firstSectionProduct .image img {
        width: 100%;
    }

    .secondSectionProduct .image img {
        width: 100%;
        border-radius: 0 24px 24px 0;
    }

    .functionalities {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .functionalities h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 72px;
    }
    
    .function {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #181818;
        width: 312px;
        height: 312px;
        border-radius: 50%;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: 200;
        margin-bottom: 64px;
    }
    
    .function p {
        width: 100%;
        padding-inline: 2rem;
    }
    
    .allFunctions {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .carousel {
        margin-top: 184px;
        margin-bottom: 184px;
    }


    .compatibilities {
        display: flex;
        flex-direction: column;
        margin-top: 128px;
        margin-bottom: 184px;
    }
    
    .compatibilities h1 {
        margin-left: 0px;
        text-align: center;
        margin-bottom: 64px;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color: #181818;
    }
    
    .marks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #eeeeee;
    }
    
    .marks img {
        width: 100px;
        padding-block: 24px;
    }

    .lastSection .image img {
        width: 100%;
        border-radius: 24px 0 0 24px;
        padding-left: 16px;
    }

    .lastSection .textImageProduct h2 {
        font-size: 32px;
    }

    .lastSection .textImageProduct p {
        font-size: 16px;
    }
    
}