.mobileMenu {
  display: none;
}

.header .list {
  display: none;
}

.header .list img {
  display: none;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
    padding-inline: 48px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
    width: 25%;
    font-family: 'Roboto', sans-serif;
}

.header a {
    text-decoration: none;
    color: #f7f7f7;
    font-weight: 200;
    letter-spacing: 1px;
}
  
  .topLogo img {
    width: 54px;
  }

.contactHeader {
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 16px;
  padding-inline: 48px;
}

.contactHeader nav {
  display: flex;
  justify-content: space-between;
  margin-top: -12px;
  width: 25%;
  font-family: 'Roboto', sans-serif;
}

.contactHeader a {
  text-decoration: none;
  color: #181818;
  font-weight: 200;
  letter-spacing: 1px;
}

.topLogo img {
  width: 54px;
}

footer a {
  text-decoration: none;
  color: #f7f7f7;
}