@import './css/home.css';
@import './css/navigation.css';
@import './css/product.css';
@import './css/contact.css';

:root {
  background-color: #f7f7f7;  
}

::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem vertical */
  height: 8px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
  background: #f7f7f7; /* Cor do fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #181818; /* Cor da barra de rolagem */
  border-radius: 2px; /* Borda arredondada */
}